@media (max-width: 1400px) {
    .hero {
        justify-content: center;
        text-align: center;
        .hero-p {
            padding-top: 2em;
            padding-right: 0;
        }
        img, .arrows {
            display: none;
        }
        .left {
            width: 100%;
        }
    }
    .right {
        display: none;
    }
}