@use '../abstracts/variables';
@use '../abstracts/mixins';
.images {
  display: flex;
  max-width: 50%;
  align-items: center;
  img {
    border-radius: 20px;
    margin-right: 1em;
    margin-bottom: 6rem;
    margin-top: 3rem;
  }
  .img-2 {
    max-height: 450px;
    opacity: .60;
  }
  .img-3 {
    max-height: 350px;
    opacity: .60;
  }
}
//svg 
.svg {
  @include mixins.svg(3em, 3em, variables.$primary-color, variables.$primary-color);
}
.flag-svg {
  width: 1.5em;
  height: 1.5em;
}
.top {
  svg {
    color: rgb(86, 86, 255);
    height: 2em;
    width: 2em;
  }
}
.bottom {
  svg {
    color: green;
    height: 2em;
    width: 2em;
  }
}
.arrows {
  @include mixins.svg(2em, 2em, variables.$white, variables.$white);
}


// .spacer {
//   aspect-ratio: 960/300;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

.hero {
  background-image: url('../../assets/wave.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}