@use '../abstracts/functions';
@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../components/cards';
//page margin
 .advantages, .hero, .advantages, .flight-schedule, {
  @include mixins.page;
}
//nav
.topnav {
//   overflow:hidden;
//   display: flex;
//   justify-content: space-between;
//   background-color:tan;
  float: left;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  @include mixins.page {
    margin-top: 2em;
  };
  .links {
    display: inline-flex;
    .t_nav {
      display: flex;
      align-self: center;
    }
  }
  .logo {
    font-size: 50px;
  }
  .button-wrapper {
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
//hero
.hero {
  position: relative;
  display: flex;
  height: 70vh;
  width: 100%;
  background-color: functions.clr(primary);
  color: variables.$white;
  .left {
    width: 38%;
    h1 {
      font-size: 4em;
      padding-top: 1.5em;
      line-height: 4rem;
    }
  }
  p {
    padding-top: 1.5em;
    font-size: 1.3em;
    padding-right: 6rem;
  }
  .button-hero {
    margin-top: 3rem;
  }
}
// .curve {
//   position: absolute;
//   height: 225px;
//   width: 100%;
//   bottom: 0;
//   &::before {
//     content: '';
//     display: block;
//     position: absolute;
//     border-radius: 100% 50%;
//     width: 100%;
//     height: 100%;
//     background-color: #fff;
//     transform: translate(-10%, 60%);
//   }
//   &::after {
//     content: '';
//     display: block;
//     position: absolute;
//     border-radius: 100% 50%;
//     width: 100%;
//     height: 100%;
//     transform: translate(-94%, 40%);
//   }
// }

//choose us
.details {
  margin-top: 1rem;
  color: grey;
}
//schedule
.otw {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 6rem;
  h3 {
    font-size: 3.5rem;
  }
}
//schedule cards
.top, .bottom {
  display: flex;
  justify-content: space-around;
}
.send {
  font-size: 1.75em;
}
.num {
  font-size: 1.25em;
  color: grey; 
}
.arr {
  font-size: 1.50em;
}
.arrows {
  margin-top: 3rem;
  margin-left: auto;
}
.top {
  padding-bottom: 2rem;
}
.find-button {
  text-align: center;
  margin-top: 4rem;
}
.icons {
  margin-right: 1rem;
  padding-top: 1rem;
}
//tracking section
.tracking {
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
  p {
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .tracker {
    background-color:#dadada;
    border-radius: 1rem;
    margin-left: auto;
    margin-bottom: 10em;
    // width: 400px;
    padding: 1rem;
  }
  .tracking-input {
    border: none;
  }
  .tracker-nav {
    a {
      color: black;
      padding-right: 1.25em;
      padding-bottom: 2em;
    }
  }
}
.leading {
  padding-left: 5vw;
  // max-width: 600px;
  .lead {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
//news
.news {
  @include mixins.page;
  text-align: center;
  h2 {
    font-size: 3em;
  }
}
.ncards p {
  margin-bottom: 1em;
}
.title {
  margin-bottom: 3em;
}
.ncards p:first-child {
  font-weight: bold;
}
.news-btn {
  justify-content: center;
  text-align: center;
  align-content: center;
  align-self: center;
}
.nws-button {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.lets-start {
  background-color: variables.$newsletter;
  // height: 30vh;
  color: variables.$white;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  p {
    font-size: 3.5em;
  }
}
//map
.map h2 {
  font-size: 3.5em;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
iframe {
  margin-bottom: 9rem;
}

//footer
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer{
  background: variables.$footer;
  padding: 50px;
}

.footer .footer_menu{
 display: flex;
 margin-bottom: 25px;
 justify-content: space-between;
}

.footer .footer_menu .title{
 margin-bottom: 10px;
 color: #adadad;
}

.footer .footer_menu ul li a{
 display: block;
 margin-bottom: 6px;
 color: #fff;
}

.footer .footer_menu ul li a:hover{
 text-decoration: underline;
}

.footer .partners{
 margin-bottom: 25px;
}

.footer .partners ul{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

@media (max-width: 1600px) {
  .images {
  justify-content: space-between;
      .img-3 {
          display: none;
      }
      .img-1 {
          margin-left: 25%;
      }
  }

  
}

@media (max-width: 1400px) {
 .topnav {
  @include mixins.smallp;
 }
  
 .hero {
      width: 100%;
      justify-content: center;
      text-align: center;
      .left-p {
          padding-top: 2em;
          padding-right: 0;
      }
      .images, .arrows {
          display: none;
      }
      .left {
          width: 100%;
      }
  }
  .img-2 {
  display: none;
 }
 .img-1 {
  width: 366px;
  height: 550px;
  }
  .images {
      margin-left: 20%;
  }
  
  .right {
      display: none;
  }
  .adv-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      text-align: center;
      justify-content: space-around;
  }
  .top, .bottom, .ncards, .tracking {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    justify-content: space-around;
  }
  .wait-cards, .arrived-cards {
    margin: 1rem 1rem;

  }
}
@media (max-width: 1000px) {
  .topnav, .advantages, .hero, .tracking, .advantages, .flight-schedule, .news, .footer {
    @include mixins.smallp;
  }
  .lets-start p {
    font-size: 2em;
  }
  .tracking {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer{
  font-size: .65em;
  }
}

